@keyframes moveInLeft {
  0% {
    transform: translateX(-100%); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(100%); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  position: relative;
  scroll-behavior: smooth;
  padding-top: 100px;
  overflow-x: hidden; }

body {
  font-family: 'Plainot', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading {
  font-family: 'Rounds';
  font-size: 6rem;
  text-align: center;
  margin-bottom: 4rem; }
  .heading span {
    background: url(../img/border-gray.png) no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 0 2rem;
    color: #fdc107; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: linear-gradient(to right, #7ed56f, #ed491c);
  -webkit-background-clip: text;
  color: transparent;
  transition: .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewX(10deg) skewY(0.2deg) scale(1.02);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: .2s;
  background-color: #fdc107;
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: #000; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none; }

.btn.btn--secondary {
  background-color: #52ac62; }

.main-footer {
  color: #fff;
  background-color: #000;
  padding: 2rem 0;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .main-footer-wrap {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto; }

.main-header {
  height: 100px;
  background-color: #fdc107; }

.navbar {
  -webkit-box-shadow: 0px 5px 2rem 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 2rem 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 2rem 0px rgba(0, 0, 0, 0.5); }
  .navbar-brand {
    height: 100%; }
  .navbar-collapse {
    background-color: #fdc107; }
    @media (min-width: 1200px) {
      .navbar-collapse {
        max-height: 100px !important; } }
  @media (min-width: 1200px) {
    .navbar-nav {
      transform: translateY(50%); } }
  .navbar-nav li a {
    font-family: 'Rounds';
    font-size: 1.8rem;
    color: #fff; }
  .navbar-nav li.active a,
  .navbar-nav li a:hover,
  .navbar-nav li a:active {
    color: #000;
    background-color: transparent; }

.main {
  margin-bottom: 4rem; }
  .main .carousel {
    max-height: calc(100vh - 100px); }
    .main .carousel img {
      object-fit: cover;
      object-position: 50%;
      max-height: calc(100vh - 100px);
      width: 100%; }
    .main .carousel .carousel-indicators li {
      background-color: #fff;
      border: none;
      width: 15px;
      height: 15px; }
    .main .carousel .carousel-indicators .active {
      background-color: #fdc107;
      margin: 1px; }
  .main .carousel-control {
    background-image: none; }
  @media screen and (min-width: 768px) {
    .main .carousel-indicators {
      bottom: 50px; } }

.about {
  font-size: 2rem;
  margin-bottom: 4rem; }
  .about .container {
    padding-bottom: 7rem;
    position: relative; }
    .about .container::before {
      content: '';
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      background-image: url(../img/border.png);
      background-size: cover; }
  .about-list {
    list-style: none; }
    .about-list__item {
      position: relative;
      padding-left: 3rem; }
      .about-list__item::before {
        content: '\25b6';
        position: absolute;
        left: 0;
        color: #ed491c; }

.products {
  margin-bottom: 4rem; }
  .products .container {
    padding-bottom: 7rem;
    position: relative; }
    .products .container::before {
      content: '';
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      background-image: url(../img/border.png);
      background-size: cover; }
  .products .col-md-4,
  .products .col-md-3 {
    padding: 0;
    margin-bottom: 4rem; }
    .products .col-md-4 a,
    .products .col-md-3 a {
      color: #000; }
      .products .col-md-4 a h3 span,
      .products .col-md-3 a h3 span {
        position: relative;
        padding-left: 3rem; }
        .products .col-md-4 a h3 span::before,
        .products .col-md-3 a h3 span::before {
          content: '\25b6';
          position: absolute;
          left: 0;
          color: #ed491c; }
      .products .col-md-4 a img,
      .products .col-md-3 a img {
        filter: grayscale(10);
        transition: .3s; }
      .products .col-md-4 a:hover,
      .products .col-md-3 a:hover {
        text-decoration: none; }
        .products .col-md-4 a:hover img,
        .products .col-md-3 a:hover img {
          filter: grayscale(0); }

.reviews {
  margin-bottom: 4rem; }
  .reviews .container {
    padding-bottom: 7rem;
    position: relative; }
    .reviews .container::before {
      content: '';
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      background-image: url(../img/border.png);
      background-size: cover; }
  .reviews .carousel {
    margin-bottom: 4rem; }
    .reviews .carousel-caption {
      color: #000;
      text-shadow: none; }
  .reviews .carousel-control {
    background-image: none; }
  .reviews .btn {
    max-width: 100%;
    width: calc(100% - 15px); }

.qa {
  margin-bottom: 4rem; }
  .qa .container {
    padding-bottom: 3rem;
    position: relative; }
    .qa .container::before {
      content: '';
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      background-image: url(../img/border.png);
      background-size: cover; }
  .qa .panel-group .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 2rem; }
  .qa .panel-heading {
    background-color: transparent;
    border-bottom: none; }
    .qa .panel-heading img {
      width: 1.5rem; }
  .qa .panel-title {
    color: #ed491c;
    font-size: 2rem; }
  .qa .more {
    padding: 4rem 0;
    text-align: center; }
    .qa .more img {
      margin-bottom: 2rem; }
    .qa .more span {
      display: block;
      color: #52ac62;
      font-size: 2.4rem; }
