// Colors
$color-primary: #fdc107;
$color-primary-light: #7ed56f;
$color-primary-dark: #ed491c;

$color-secondary-light: #ffb900;
$color-secondary: #52ac62;

$color-tertiary-light: #2998ff;
$color-tertiary: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #231f20;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// Font sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
