body {
	font-family: 'Plainot', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	// color: $color-grey-dark;
}

.heading {
	font: {
		family: 'Rounds';
		size: 6rem;
	}
	text-align: center;
	margin-bottom: 4rem;

	@media (max-width: 1200px) {
		font-size: 4rem;
	}

	& span {
		background: url(../img/border-gray.png) no-repeat;
		background-position: 50%;
		background-size: cover;

		padding: 0 2rem;
		color: $color-primary;
	}
}

.heading-secondary {
	color: $color-secondary;
	font-size: 3rem;
	margin-bottom: 4rem;
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $default-font-size;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
